@mixin theme($p_color: DarkGray) {
  background: $p_color;
  box-shadow: 0 0 1px rgba($p_color, .25);
  color: #fff;
}

.info {
  @include theme;
}

.alert {
  @include theme($p_color: DarkRed);
}

.success {
  @include theme($p_color: DarkGreen);
}